.wrapper {
    width: 100%;
    background: rgb(255, 255, 255);
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 300px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    padding-top: 8px;
    overflow-y: auto; /* Tự động hiện thanh cuộn dọc khi tràn */
    overflow-x: hidden;
}
